### Sammenlign ulike naob-korpusfiler

In [4]:

import pandas as pd


naob_csv = "naob.csv"

naob_excel = "naob.xlsx"
naob_excel2 = "naob2.xlsx"

naob = pd.read_csv(naob_csv, index_col=0)

naobx = pd.read_excel(naob_excel, index_col=0)
naobx["corpus"] = "naob_excel"

naobx2 = pd.read_excel(naob_excel2, index_col=0)
naobx2["corpus"] = "naob_excel2"

In [5]:
naob

                                     urn     corpus
0    URN:NBN:no-nb_digibok_2013013008121  naob_hele
1    URN:NBN:no-nb_digibok_2012101507226  naob_hele
2    URN:NBN:no-nb_digibok_2012101507226  naob_hele
3    URN:NBN:no-nb_digibok_2006121400043  naob_hele
4    URN:NBN:no-nb_digibok_2006111700037  naob_hele
..                                   ...        ...
463  URN:NBN:no-nb_digibok_2010021000064  naob_2024
464  URN:NBN:no-nb_digibok_2009041404027  naob_2024
465  URN:NBN:no-nb_digibok_2014121107545  naob_2024
466  URN:NBN:no-nb_digibok_2013121206141  naob_2024
467  URN:NBN:no-nb_digibok_2007052500018  naob_2024

[11343 rows x 2 columns]

In [6]:
naobx

,dhlabid,title,authors,urn,oaiid,sesamid,isbn10,city,timestamp,year,publisher,langs,subjects,ddc,genres,literaryform,doctype,corpus
0,100138308,Aleksander den store,"Ræder , A. (Anton)",URN:NBN:no-nb_digibok_2013013008121,oai:nb.bibsys.no:999104457884702202,9f6a7f93d0b54ee80b56b911fcaddd24,NaN,NaN,19350101,1935,Aschehoug,nob,Historisk framstilling / Antikken / Hellenisme...,938.07092,NaN,Uklassifisert,digibok,naob_excel
1,100462616,Julian den frafalne,"Ræder , A. (Anton)",URN:NBN:no-nb_digibok_2006121400043,oai:nb.bibsys.no:999303536334702202,ba93aa359453843a365b2b68292ffe59,NaN,NaN,19320101,1932,Aschehoug,nob,Keisere / Senantikken / Historie / Historisk f...,NaN,NaN,Uklassifisert,digibok,naob_excel
2,100000762,Keiser Hadrian : en kulturhistorisk Skildring,"Ræder , A. (Anton)",URN:NBN:no-nb_digibok_2006111700037,oai:nb.bibsys.no:999406523314702202,e78b4e7f0462c38eee5cb46691f22b4f,NaN,Kristiania,18970101,1897,Aschehoug,nob,NaN,NaN,NaN,Uklassifisert,digibok,naob_excel
3,100571546,Keiser Konstantin,"Ræder , A. (Anton)",URN:NBN:no-nb_digibok_2006121101036,oai:nb.bibsys.no:999326890514702202,9f96975e0cdad23ac9bee79820353d51,NaN,Oslo,19310101,1931,Aschehoug,nob,konstantin / kristendommen / historie / romerr...,NaN,NaN,Uklassifisert,digibok,naob_excel
4,100522307,Lærebok i oldtidens historie for gymnasiet,"Ræder , A. (Anton)",URN:NBN:no-nb_digibok_2008090100071,oai:nb.bibsys.no:990415128394702202,a9f86652b98b7dbabad3b1156f0e51d0,NaN,Kristiania,19220101,1922,Aschehoug,nob,NaN,NaN,NaN,Uklassifisert,digibok,naob_excel
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10561,100445251,Therese : en kjærlighetshistorie fra virkeligh...,"Pollestad , Kjell Arild",URN:NBN:no-nb_digibok_2008081200111,oai:nb.bibsys.no:999722257304702202,01d1b7470170d983205577a070f22dee,8202167477,[Oslo],19970101,1997,Cappelen,nob,Nonner / Helgener / franske / helgener / kvinn...,282.092,biography,Faglitteratur,digibok,naob_excel
10562,100529945,Språkets mønstre : grammatiske begreper og met...,"Kulbrandstad , Lars Anders",URN:NBN:no-nb_digibok_2008082100028,oai:nb.bibsys.no:999810667124702202,6661a97f59ebf2dad0e9b1dd3678bd77,8200127117,Oslo,19980101,1998,Universitetsforl.,nob,Bokmål / Grammatikk / Norsk språk / norsk / sp...,439.825,NaN,Faglitteratur,digibok,naob_excel
10563,100440998,Mamma for første gang,"Nylander , Gro",URN:NBN:no-nb_digibok_2008092604070,oai:nb.bibsys.no:999910085884702202,287c565dbdefbf85cec5af4783b0358f,8205252270,[Oslo],19990101,1999,Gyldendal fakta,nob,"Population / Infant, Newborn / Postnatal Care ...",649.1,NaN,Faglitteratur,digibok,naob_excel
10564,100043876,Medfødte misdannelser blant barn med fedre som...,"Kristensen , Petter / Jacobsen , Kirsti / Skyb...",URN:NBN:no-nb_digibok_2011022806102,oai:nb.bibsys.no:990013095524702202,fa51c8c069a656a9bda07bc67a7f6e72,NaN,Oslo,20000101,2000,Statens arbeidsmiljøinstitutt,mul / nob / eng,Reproduction,NaN,NaN,Uklassifisert,digibok,naob_excel
10565,100048672,Stygge hunders forening,"Nilsen , Tove / Avranden , Ann",URN:NBN:no-nb_digibok_2011022305144,oai:nb.bibsys.no:990013262284702202,945df8447322fa538532b151842b92e3,8203243584,Oslo,20000101,2000,Aschehoug,nob,barnebøker / spenningslitteratur / barn / dyr ...,NaN,NaN,Uklassifisert,digibok,naob_excel

In [7]:
naobx2

,dhlabid,title,authors,urn,oaiid,sesamid,isbn10,city,timestamp,year,publisher,langs,subjects,ddc,genres,literaryform,doctype,corpus
0,100138308,Aleksander den store,"Ræder , A. (Anton)",URN:NBN:no-nb_digibok_2013013008121,oai:nb.bibsys.no:999104457884702202,9f6a7f93d0b54ee80b56b911fcaddd24,NaN,NaN,19350101,1935,Aschehoug,nob,Historisk framstilling / Antikken / Hellenisme...,938.07092,NaN,Uklassifisert,digibok,naob_excel2
1,100462616,Julian den frafalne,"Ræder , A. (Anton)",URN:NBN:no-nb_digibok_2006121400043,oai:nb.bibsys.no:999303536334702202,ba93aa359453843a365b2b68292ffe59,NaN,NaN,19320101,1932,Aschehoug,nob,Keisere / Senantikken / Historie / Historisk f...,NaN,NaN,Uklassifisert,digibok,naob_excel2
2,100000762,Keiser Hadrian : en kulturhistorisk Skildring,"Ræder , A. (Anton)",URN:NBN:no-nb_digibok_2006111700037,oai:nb.bibsys.no:999406523314702202,e78b4e7f0462c38eee5cb46691f22b4f,NaN,Kristiania,18970101,1897,Aschehoug,nob,NaN,NaN,NaN,Uklassifisert,digibok,naob_excel2
3,100571546,Keiser Konstantin,"Ræder , A. (Anton)",URN:NBN:no-nb_digibok_2006121101036,oai:nb.bibsys.no:999326890514702202,9f96975e0cdad23ac9bee79820353d51,NaN,Oslo,19310101,1931,Aschehoug,nob,konstantin / kristendommen / historie / romerr...,NaN,NaN,Uklassifisert,digibok,naob_excel2
4,100522307,Lærebok i oldtidens historie for gymnasiet,"Ræder , A. (Anton)",URN:NBN:no-nb_digibok_2008090100071,oai:nb.bibsys.no:990415128394702202,a9f86652b98b7dbabad3b1156f0e51d0,NaN,Kristiania,19220101,1922,Aschehoug,nob,NaN,NaN,NaN,Uklassifisert,digibok,naob_excel2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10561,100445251,Therese : en kjærlighetshistorie fra virkeligh...,"Pollestad , Kjell Arild",URN:NBN:no-nb_digibok_2008081200111,oai:nb.bibsys.no:999722257304702202,01d1b7470170d983205577a070f22dee,8202167477,[Oslo],19970101,1997,Cappelen,nob,Nonner / Helgener / franske / helgener / kvinn...,282.092,biography,Faglitteratur,digibok,naob_excel2
10562,100529945,Språkets mønstre : grammatiske begreper og met...,"Kulbrandstad , Lars Anders",URN:NBN:no-nb_digibok_2008082100028,oai:nb.bibsys.no:999810667124702202,6661a97f59ebf2dad0e9b1dd3678bd77,8200127117,Oslo,19980101,1998,Universitetsforl.,nob,Bokmål / Grammatikk / Norsk språk / norsk / sp...,439.825,NaN,Faglitteratur,digibok,naob_excel2
10563,100440998,Mamma for første gang,"Nylander , Gro",URN:NBN:no-nb_digibok_2008092604070,oai:nb.bibsys.no:999910085884702202,287c565dbdefbf85cec5af4783b0358f,8205252270,[Oslo],19990101,1999,Gyldendal fakta,nob,"Population / Infant, Newborn / Postnatal Care ...",649.1,NaN,Faglitteratur,digibok,naob_excel2
10564,100043876,Medfødte misdannelser blant barn med fedre som...,"Kristensen , Petter / Jacobsen , Kirsti / Skyb...",URN:NBN:no-nb_digibok_2011022806102,oai:nb.bibsys.no:990013095524702202,fa51c8c069a656a9bda07bc67a7f6e72,NaN,Oslo,20000101,2000,Statens arbeidsmiljøinstitutt,mul / nob / eng,Reproduction,NaN,NaN,Uklassifisert,digibok,naob_excel2
10565,100048672,Stygge hunders forening,"Nilsen , Tove / Avranden , Ann",URN:NBN:no-nb_digibok_2011022305144,oai:nb.bibsys.no:990013262284702202,945df8447322fa538532b151842b92e3,8203243584,Oslo,20000101,2000,Aschehoug,nob,barnebøker / spenningslitteratur / barn / dyr ...,NaN,NaN,Uklassifisert,digibok,naob_excel2

In [8]:
naob[['urn', 'corpus']].drop_duplicates("urn", keep="first")

                                     urn     corpus
0    URN:NBN:no-nb_digibok_2013013008121  naob_hele
1    URN:NBN:no-nb_digibok_2012101507226  naob_hele
3    URN:NBN:no-nb_digibok_2006121400043  naob_hele
4    URN:NBN:no-nb_digibok_2006111700037  naob_hele
5    URN:NBN:no-nb_digibok_2006121101036  naob_hele
..                                   ...        ...
463  URN:NBN:no-nb_digibok_2010021000064  naob_2024
464  URN:NBN:no-nb_digibok_2009041404027  naob_2024
465  URN:NBN:no-nb_digibok_2014121107545  naob_2024
466  URN:NBN:no-nb_digibok_2013121206141  naob_2024
467  URN:NBN:no-nb_digibok_2007052500018  naob_2024

[5862 rows x 2 columns]

In [9]:

# Check that all URNS unmarked with the time of the last update are duplicated by URNs that are marked
naob.loc[~naob.loc[naob.corpus.isna(), "urn"].isin(naob.loc[naob.corpus.notna(), "urn"]), :]

Empty DataFrame
Columns: [urn, corpus]
Index: []

In [10]:

# We can safely drop the unmarked URNs
naob.dropna(subset=["corpus"])

                                     urn     corpus
0    URN:NBN:no-nb_digibok_2013013008121  naob_hele
1    URN:NBN:no-nb_digibok_2012101507226  naob_hele
2    URN:NBN:no-nb_digibok_2012101507226  naob_hele
3    URN:NBN:no-nb_digibok_2006121400043  naob_hele
4    URN:NBN:no-nb_digibok_2006111700037  naob_hele
..                                   ...        ...
463  URN:NBN:no-nb_digibok_2010021000064  naob_2024
464  URN:NBN:no-nb_digibok_2009041404027  naob_2024
465  URN:NBN:no-nb_digibok_2014121107545  naob_2024
466  URN:NBN:no-nb_digibok_2013121206141  naob_2024
467  URN:NBN:no-nb_digibok_2007052500018  naob_2024

[5905 rows x 2 columns]

In [11]:
# Drop duplicated urns from the excel file 
first = naobx[['urn', 'corpus', "title"]].drop_duplicates("urn")
second = naobx2[['urn', 'corpus', "title"]].drop_duplicates("urn")

In [12]:


# Check that all URNs in the first file are also in the second file
all(first.urn.isin(second.urn))

True

In [13]:

# And check that all urns from the excel file are in the original csv file 
all(first.urn.isin(naob.urn))

True